<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Petite-vue Demo</title>
  <style>
    html,
    body {
      font-family: 'Helvetica Neue', Arial, sans-serif;
      color: #333;
      margin: 0;
    }

    #editor {
      height: 15vw;
      display: flex;
    }

    .input,
    .output {
      width: 34%;
      box-sizing: border-box;
    }

    .input {
      border: none;
      border-right: 1px solid #ccc;
      resize: none;
      outline: none;
      background-color: #f6f6f6;
      font-size: 14px;
      font-family: 'Monaco', courier, monospace;
      padding: 20px;
    }

    .output {
      padding: 0 20px;
    }

    code {
      color: #f66;
    }

    blockquote {
      display: block;
      margin: 0.8em;
      padding: 0.5em 1em;
      border-left: solid #00aeae thick;
    }

    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    }

    .item {
      cursor: pointer;
    }

    .bold {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <script src="https://unpkg.com/marked@2.1.3/lib/marked.js"></script>
  <script src="https://unpkg.com/lodash@4.17.21/lodash.min.js"></script>
  <script type="module">
    import { createApp, reactive } from 'https://unpkg.com/petite-vue?module'
    // 组件
    function Counter(props) {
      return {
        count: props.initialCount,
        inc() { this.count++ },
        mounted() { console.log("Counter said: I'm mounted!") }
      }
    }
    function ReuseCounter(props) {
      return {
        $template: '#counter-template',
        count: props.initialCount,
        inc() { this.count++ },
      }
    }
    // 状态管理
    const store = reactive({
      count: 0,
      inc() { this.count++ }
    })
    // 自定义指令
    const vColor = ({ el, get, effect }) => {
      el.style.color = get()
      effect(() => { el.style.color = get() })
    }
    // tree 应用
    const treeData = {
      name: 'My Tree',
      children: [
        { name: 'hello' },
        { name: 'wat' },
        {
          name: 'child folder',
          children: [
            {
              name: 'child folder',
              children: [{ name: 'hello' }, { name: 'wat' }]
            },
            { name: 'hello' },
            { name: 'wat' }
          ]
        }
      ]
    }

    function TreeItem(model) {
      return {
        $template: '#item-template',
        model,
        open: false,
        get isFolder() { return model.children && model.children.length },
        toggle() { if (this.isFolder) { this.open = !this.open } },
        changeType() {
          if (!this.isFolder) {
            model.children = []
            this.addChild()
            this.open = true
          }
        },
        addChild() { model.children.push({ name: 'new stuff' }) }
      }
    }
    // 应用挂载
    createApp({ count: 0, increment() { this.count++ } }).mount('#plusOne')
    createApp({ Counter, ReuseCounter }).mount('#component-demo')
    createApp({
      input: "# hello\nI'm **Changshou83**.*Nice to meet you*.\n```js\nlet cnt = 0;\n```\n> Stay hungry,stay foolish",
      get compiledMarkdown() { return marked(this.input) },
      update: _.debounce(function (e) { this.input = e.target.value }, 100),
    }).mount('#editor')
    createApp({ TreeItem, treeData }).mount('#tree')
    createApp({ store, textColor: 'red', colors: ['red', 'green', 'yellow'], changeColor(color) { this.textColor = color } }).directive('color', vColor).mount()
  </script>
  <div class="container">
    <div class="left">
      <div id="plusOne">
        <h2>PlusOne</h2>
        <p>{{ count }}</p>
        <button @click="increment">add</button>
      </div>
      <div id="component-demo">
        <h2>Counter</h2>
        <div v-scope="Counter({ initialCount: 1 })" @vue:mounted="mounted">
          <p>{{ count }}</p>
          <button @click="inc">increment</button>
        </div>
        <h2>ReuseCounter</h2>
        <div v-scope="ReuseCounter({ initialCount: 2 })"></div>
        <div v-scope="ReuseCounter({ initialCount: 3 })"></div>
        <template id="counter-template">
          My count is {{ count }}
          <button @click="inc">++</button>
        </template>
      </div>
    </div>
    <div class="middle SM-container" v-scope>
      <h2>Statement Management</h2>
      <p>Global {{ store.count }}</p>
      <button @click="store.inc">increment</button>
    </div>
    <div class="middle SM-container" v-scope="{ localCount: 0 }">
      <h2>Statement Management</h2>
      <div>
        <p>Global {{ store.count }}</p>
        <button @click="store.inc">increment</button>
      </div>
      <div>
        <p>Local {{ localCount }}</p>
        <button @click="localCount++">increment</button>
      </div>
    </div>
    <div class="middle Directive-container" v-scope>
      <h2>Custom Directives</h2>
      <ul>
        <li v-for="color in colors" @click="changeColor(color)">{{ color }}</li>
      </ul>
      <p v-color="textColor">colorText</p>
    </div>
    <div class="right">
      <h2>Tree</h2>
      <template id="item-template">
        <div :class="{ bold: isFolder }" @click="toggle" @dblclick="changeType">
          <span>{{ model.name }}</span>
          <span v-if="isFolder">[{{open ? '-' : '+'}}]</span>
        </div>
        <ul v-show="open" v-if="isFolder">
          <li v-for="model in model.children" v-scope="TreeItem(model)"></li>
          <li class="add" @click="addChild">+</li>
        </ul>
      </template>
      <ul id="tree">
        <p>Double click an item to turn it into a folder.</p>
        <li class="item" v-scope="TreeItem(treeData)"></li>
      </ul>
    </div>
  </div>
  <h2>MarkDown Editor</h2>
  <div id="editor">
    <textarea class="input" :value="input" @input="update"></textarea>
    <textarea class="input" v-model="input"></textarea>
    <div class="output" v-html="compiledMarkdown"></div>
  </div>
</body>

</html>